<html>
  <head>
    <style type="text/css">
      <%= @styles %>
    </style>
    <script type="text/javascript">
      <%= @javascripts %>
    </script>
  </head>
  <body class="sc-gadget">
  </body>
</html>
